/* Add FontAwesome fa-external icon after all non-relative links.
 * Do not add the icon whenever the link contains and image.
 *
 * https://stackoverflow.com/a/20782415
 * https://webkit.org/blog/13096/css-has-pseudo-class/
 * https://stackoverflow.com/a/18168287
 */
a[href^="http://"]:not(:has(img))::after,
a[href^="https://"]:not(:has(img))::after {
  font-family: FontAwesome;
  content: "\f08e"; /* fa-external-link */
  display: inline-block;
  padding-left: 3px;
  vertical-align: middle;
}
