/* Add FontAwesome fa-external icon after all non-relative links.
 * Do not add the icon whenever the link contains an image.
 *
 * CSS `:has()` pseudo class:  https://webkit.org/blog/13096/css-has-pseudo-class/
 * FontAwesome as CSS content: https://stackoverflow.com/a/20782415
 * No line break in `::after`: https://stackoverflow.com/a/38418279
 */
a[target="_blank"]:not(:has(img))::after {
  font-family: FontAwesome;
  content: "\f08e"; /* fa-external-link */
  padding-left: 0.2em; /* relative */
  vertical-align: middle;
}
